table {
    width: 100%;
}

.add-margin {
    margin: .5rem;
}

.top-table {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
}

td,
th {
    width: 25%;
}